h1 {
    font-size: 30px;
    background-color: #69a8f5;
    margin: 0px;
    padding: 50px 0px 50px 40px;
    font-family: sans-serif;

}

body {
    margin: 0px;
}

img {
    height: 15%;
    width: 15%;
    float: left;
    margin-left: 150px;
}

.profile {
    text-align: center;
    float: right;
    padding-right:150px;
    padding-bottom: 30px;
}

span {
    margin-left:150px
}




.left {
    float: left;
    background-color: #bee6df;
    width: 80%;
    height: 70%;
}

.list {
    float: right;
    background-color: #bee6c5;
    width: 20%;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

.center {
    overflow: hidden;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
}

th {
    padding: 0px 390px 0px 390px;
}

.footer {
    text-align: center;
    background-color: #73b953;
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
}